@font-face {
    font-family: 'sapientFont';
    src: url('../fonts/PG_Roof Runners_active.ttf') format('truetype');
}
@font-face {
    font-family: 'sapientFontBold';
    src: url('../fonts/PG_Roof Runners_active_b.ttf') format('truetype');
}